/* */    
.nav {background-color: grey;
height: 55px;}                       
.box{ color: crimson;font-size: 30px;height: 35px; line-height: 35px;}
 .nav li{
    float: right;
    height :35px;
    line-height: 35px;
    margin-right: 10px;
}
.nav a{ text-decoration: none;
        color: ivory;
        display: block;
padding: 11px;
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
.nav :hover{
    background-color: rgb(173, 173, 156);
    color: lavender;
}
.text1{background-color: rgb(247, 240, 242);}
.text2 { background-color: rgb(247, 240, 242);}
.photo {background-color: rgb(247, 240, 242);}
.text3 {background-color: rgb(247, 240, 242);}
.signin {background-color: rgb(247, 240, 242);}

.box1 {
    height: 600px;
    width: 500px;
    background-color: white;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    padding-left:80px ;
    padding-right: 80px;
}
.box2 {
    height: 600px;
    width: 500px;
    background-color: white;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    padding-left:80px ;
    padding-right: 80px;
}
.box3 {
    height: 600px;
    width: 500px;
    background-color: white;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    padding-left:80px ;
    padding-right: 80px;
}
.box4 {
    height: 600px;
    width: 500px;
    background-color: white;
    border-width: 5px;
    border-color: gray;
    border-style: solid;
    padding-left:80px ;
    padding-right: 80px;
}
#tb,tr,th,td{
    border: 1px rgb(190, 162, 162);
    text-align: center;
    
}
#tb tr#one{background-color: slategrey;}
#tb th { background-color: skyblue;}
#tb td {
    width: 400px;
    height: 10px;
}
.signin {
    height: 600px;
    width: 500px;
    background-color: white;
    border-width: 5px;
   
    
    padding-left:90px ;
    padding-right: 90px;
}
#two { 
    height: 30px;
    width: 300px; 
    background-color: steelblue;
}